/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background: rgb(41, 40, 40);
  height: 3000px;
  color: whitesmoke;
}
